<!DOCTYPE html>
<html lang="en" ng-app="PopQuizApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>My first Angular App</title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <!-- ng-controller is a "directive" ng-cloak allows us to hide the sudden popping of the vars. Search Angular docs. Your ng-submit for your form has to be before the controller. -->
    <body ng-cloak ng-controller="PopQuizController as controller">
        <h2>Request goes in here:</h2>
        <form class="quiz-form" name="quiz-form" ng-submit="controller.submitQuiz()" novalidate>
            <!-- The novalidate attribute is a boolean attribute which turns off validation. When present, it specifies that the form-data (input) should not be validated by the browser when submitted. -->
            <h3>{{controller.quiz.question}}</h3>
            <br/>
            <ul ng-repeat="answer in controller.quiz.answers" style="list-style-type:none">
                <li>
                    <!-- ng-model acts as the viewmodel -->
                    <input ng-model="controller.finalAnswer.choice" type="radio" name="answer" value="{{answer.idx}}" />
                    {{answer.desc}}
                </li>
            </ul>
            <label>
                Remarks: {{controller.quiz.remarks}}
            </label>
            <br/>
            <textarea ng-model="controller.finalAnswer.remarks" name="its-a-textarea" id="diet" cols="30" rows="4"></textarea>
            <hr/>
            <input id="carbQuizSubmit" type="submit" value="Submit"/>
        </form>
        <br/>
        <br/>
        <h2>
            Notes
        </h2>
        <p>
            <code>bower_components</code> must be inside <code>client/</code> while <code>.bowerrc</code> must be at the project level for single projects.
            <br/><br/>
            You cannot pull comments within a JSON file.
            <br/><br/>
            T
        </p>
    </body>
    <!-- May load faster if it is put at the bottom of the page. Can be put anywhere before body. -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.module.js"></script>
    <script src="/js/app.controller.js"></script>
</html>